@import "variables";

@media screen and (min-width: 321px) {
  .navbar__title {
    font-size: 24px;
    padding: 18px 25px;

  }
  .navbar {
    &__menu {
      padding: 22px 22px;
      &:hover {
        padding: 24.5px 22px;
        & .navbar__burger-line--first {
          transform: translateY(3px) rotate(45deg);
        }
        & .navbar__burger-line--third {
          transform: translateY(-2px) rotate(-45deg);
        }
      }
    }
    &__burger-line {
      width: 25px;
      margin-bottom: 3px;
    }
  }
  .dropdown-menu {
    top: 59.5px;
    &__link {
      font-size: 14px;
      padding: 13px 128px 13px 25px;
    }
  }
  .header-section {
    background-image: url("../img/header_bg_640.png");
    height: 315px;
    padding: 30px 0 0 38px;
    &__title {
      font-size: 36px;
      &--second {
        padding-bottom: 20px;
      }
    }
    &__link {
      font-size: 24px;
    }
  }
  .category {
    &__pizza {
      height: 150px;
      font-size: 36px;
      background-image: url("../img/pizza_delivery_bg.png");
      background-position: -10px -290px;
      width: 76%;
    }
    &__salads {
      height: 150px;
      font-size: 36px;
      background-image: url("../img/ua_ux_salads_bg.png");
      background-position: 0 -235px;
      width: 76%;
    }
    &__desserts {
      height: 150px;
      font-size: 36px;
      background-image: url("../img/desserts_bg.png");
      width: 76%;
    }
    &__link {
      height: 150px;
      font-size: 20px;
      width: 24%;
    }
  }
  .menu-titles {
    margin: 0 auto 20px auto;
    &__main {
      font-size: 40px;
      margin-bottom: 4px;
    }
    &__subtitle {
      font-size: 20px;
    }
  }
  .menu {
    &__title {
      font-size: 40px;
    }
    &__subtitle {
      font-size: 29px;
      margin: 0 auto 35px auto;
      &-icon--pizza {
        height: 48px;
      }
      &-icon--wine {
        height: 48px;
      }
      &-icon--cup {
        height: 42px;
      }
      &-icon--beer {
        height: 42px;
      }
    }
  }
  .menu__item {
    font-size: 26px;
    margin-bottom: 15px;
    &-wrapper {
      margin: 0 auto 22px auto;
    }
    &-description {
      font-size: 17.5px;
    }
  }
  .footer {
    height: 95px;
    font-size: 18px;
    margin-top: 70px;
    &__text {
      margin-bottom: 5px;
    }
  }
}


@media screen and (min-width: 641px) {
  .navbar {
    display: none;
  }
  .navbar-menu__big-screen {
    display: flex;
  }
  .header-section {
    background-image: url("../img/header_bg_980.png");
    height: 460px;
    padding: 64px 0 0 30px;
    &__title {
      font-size: 54px;
      &--second {
        padding-bottom: 57px;
      }
    }
    &__link {
      font-size: 34px;
    }
  }
  .category {
    display: flex;
    &__pizza {
      height: 327px;
      width: calc(100vw/3);
      font-size: 38px;
      background-image: url("../img/pizza_delivery_bg_980.png");
      background-position: 0 0;
      text-align: center;
    }
    &__salads {
      height: 327px;
      width: calc(100vw/3);
      font-size: 38px;
      background-image: url("../img/ua_ux_salads_bg_980.png");
      background-position: 0 0;
      text-align: center;
    }
    &__desserts {
      height: 327px;
      width: calc(100vw/3);
      font-size: 38px;
      background-image: url("../img/desserts_bg_980.png");
      background-position: 0 0;
      text-align: center;
    }
    &__link {
      display: none;
    }
  }
  .menu-titles {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__main {
      font-size: 34px;
      margin-bottom: 5px;
    }
    &__logo {
      display: inline-block;
    }
  }
  .menu {
    display: flex;
    &__title {
      font-size: 33px;
      &--light {
        margin-top: 0;
      }
    }
    &__subtitle {
      font-size: 25px;
      margin: 0 auto 40px auto;
        &-icon--pizza {
          height: 42px;
        }
        &-icon--wine {
          height: 44px;
        }
        &-icon--cup {
          height: 39px;
        }
        &-icon--beer {
          height: 39px;
        }
      }
    &__item {
      font-size: 23px;
      &-description {
        font-size: 15px;
      }
    }
    }
  .footer {
    flex-direction: row;
    padding: 0 35px;
    justify-content: space-between;
    &__text {
      display: inline-block;
    }
  }
}


@media screen and (min-width: 981px) {
  .header-section {
    background-image: url("../img/header_bg_1200.png");
    height: 585px;
    padding: 58px 0 0 37px;
    &__title {
      font-size: 62px;
      &--second {
        padding-bottom: 53px;
      }
    }
    &__link {
      font-size: 38px;
    }
  }
  .category {
    display: flex;
    &__pizza {
      height: 400px;
      width: calc(100vw/3);
      font-size: 42px;
      background-image: url("../img/pizza_delivery_bg_1200.png");
      background-position: 0 0;
      text-align: center;
    }
    &__salads {
      height: 400px;
      width: calc(100vw/3);
      font-size: 42px;
      background-image: url("../img/ua_ux_salads_bg_1200.png");
      background-position: 0 0;
      text-align: center;
    }
    &__desserts {
      height: 400px;
      width: calc(100vw/3);
      font-size: 42px;
      background-image: url("../img/desserts_bg_1200.png");
      background-position: 0 0;
      text-align: center;
    }
  }
  .menu-titles {
    &__subtitle {
      font-size: 17px;
    }
  }
  .menu {
    &__title {
      font-size: 34px;
    }
    &__subtitle {
      &-icon--pizza {
        height: 42px;
      }
      &-icon--wine {
        height: 44px;
      }
      &-icon--cup {
        height: 39px;
      }
      &-icon--beer {
        height: 39px;
      }
    }
    &__item {
      &-description {
        font-size: 17.5px;
      }
    }
  }
}


