$grey: #373c3f;
$white: white;
$main-color: #acd8ad;
$mainFont: 'Lato', sans-serif;

@mixin category-menu {
  width: 78%;
  height: 75px;
  background-repeat: no-repeat;
  margin-bottom: 1px;
  color: white;
  font-size: 20px;
}


@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}