
@import "variables";

.navbar {
  background-color: $grey;
  font-family: $mainFont;
  font-size: 14px;
  color: $white;
  position: relative;
  &__title {
    display: inline-block;
    padding: 10px 18px;
  }
  &__menu {
    display: inline-block;
    float: right;
    background-color: #202529;
    padding: 11px 13px;
    &:hover {
      cursor: pointer;
      padding: 13px 13px;
      & .navbar__burger-line--second {
        display: none;
      }
      & .navbar__burger-line--first {
        transform: translateY(2px) rotate(45deg);
        transition: 0.5s;
      }
      & .navbar__burger-line--third {
        transform: translateY(-2px) rotate(-45deg);
        transition: 0.5s;
      }
      & .dropdown-menu {
        display: inline-block;
      }
    }
  }
  &__burger-line {
    height: 2px;
    width: 15px;
    margin-bottom: 2px;
    background-color: $white;
  }
}

.dropdown-menu {
  display: none;
  font-family: $mainFont;
  background-color: #fafafa;
  border: 1px solid #e1e1e1;
  position: absolute;
  right: 0;
  top: 34px;
  &__link {
    display: block;
    text-decoration: none;
    color: $grey;
    font-size: 12px;
    padding: 9px 95px 9px 10px;
    border: 1px solid #e1e1e1;
    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.navbar-menu__big-screen {
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: $grey;
  padding: 8px 35px;

  &-link {
    text-decoration: none;
    color: $white;
    font-size: 15px;
    margin-right: 28px;
  }
}

.header-section {
  font-family: $mainFont;
  font-weight: bold;
  background-image: url("../img/header.png");
  height: 154px;
  background-repeat: no-repeat;
  padding: 19px 0 0 20px;
  margin-bottom: 4px;
  &__title {
    color: $white;
    font-size: 16px;
    padding-bottom: 7px;
    &--second {
      padding-bottom: 8px;
    }
}
  &__link {
    text-decoration: none;
    color: #94bdc6;
    font-size: 14px;
  }
}

.category {
  margin-bottom: 25px;
  font-family: $mainFont;
  font-weight: bold;
  &__item {
    display: flex;
  }
  &__pizza {
    @include category-menu;
    @include flex-center;
    background-image: url("../img/pizza_delivery_bg_320.png");
    background-position: -20px -232px;
  }
  &__salads {
    @include category-menu;
    @include flex-center;
    background-image: url("../img/ua_ux_salads_bg_320.png");
    background-position: 0 -165px;
  }
  &__desserts {
    @include category-menu;
    @include flex-center;
    background-image: url("../img/desserts_bg_320.png");
    background-position: 0 -28px;
  }
  &__link {
    @include flex-center;
    height: 75px;
    width: 22%;
    background-color: $main-color;
    text-decoration: none;
    color: $white;
    font-size: 14px;
  }
}

.menu-titles {
  margin: 0 auto 10px auto;
  width: 95.5%;
  &__main {
    font-family: $mainFont;
    color: $grey;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 2px;
  }
  &__subtitle {
    font-family: $mainFont;
    color: #d5d6d8;
    font-size: 11px;
  }
  &__logo {
    display: none;
  }
}

.menu {
  font-family: $mainFont;
  &__title {
    text-transform: uppercase;
    font-size: 20px;
    padding: 8px 0 8px 18px;
    &--dark {
      color: $main-color;
      background-color: $grey;
      margin-bottom: 13px;
    }
    &--light {
      color: $white;
      background-color: $main-color;
      margin-top: 32px;
      margin-bottom: 15px;
    }
  }
  &__subtitle {
    color: $grey;
    text-transform: uppercase;
    font-size: 15px;
    width: 89%;
    margin: 0 auto 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--last {
      margin: 7px 0 4px 0;
    }
    &-icon--pizza {
      height: 25px;
    }
    &-icon--wine {
      height: 25px;
    }
    &-icon--cup {
      height: 21px;
    }
    &-icon--beer {
      height: 21px;
    }
  }
}


.menu__item {
  font-size: 13px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
  &-wrapper {
    width: 89%;
    margin: 0 auto 10px auto;
    &--last {
      margin-bottom: 16px;
    }
  }
 &-price {
   font-weight: bold;
 }
  &-description {
    font-size: 9px;
    text-align: justify;
  }
}

.footer {
  @include flex-center;
  flex-direction: column;
  text-align: center;
  height: 55px;
  background-color: $main-color;
  color: $white;
  font-family: $mainFont;
  font-size: 14px;
  margin-top: 50px;
  &__text {
    margin-bottom: 3px;
  }
}


@import "media";